/* impostazioni generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink:rgb(229,50,111);
    --blue:rgb(65,138,168);
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 30px;
    font-family: 'Fredoka', 'Comic Sans';
}

/* impostazioni header */
header{
    text-align: center;
}

.title{
    margin:30px 0 30px
}

h1{
    color: var(--pink);
}

/* impostazioni body */

.row{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: calc(100% / 3 - 20px);
    height: 100px;
    background-color: black;
    margin: 10px;
    display: flex;
    color: white;
}
.description{
    display: inline-block;
    line-height: 30px;
    margin: 10px 10px;
}

a{
    color: var(--blue);
    text-decoration: none;
}